@charset "UTF-8";

.find {

		width:338px;
		height:54px;
		border:1px solid #5f0080;
		background-color:#5f0080;
	 	color:white;
	 	font-size:16px;
	 	border-radius:3px;
	 	margin-bottom:10px;
}


		.login		{
			padding-bottom:170px;
		}
		
		.login .section_login	{
			width:340px;
			margin:0 auto;
		
			padding-top:80px;
		}
		
		
		.tit_login	{
			text-align:center;
		}
		
		
		.write_form	{
			padding-top:30px;
		}
		
		
		
		.write_form form	{
			width:340px;
		}
		
		.write_form input	{
			display:inline-block;
			width:338px;
			height:54px;
			border:1px solid #ccc;
			border-radius:3px;
			padding:0 19px;
			margin-bottom:8px;
		}
		
