@charset "UTF-8";

#mypage_top {
	width : 100%;
	height: 200px;
	padding : 15px;
	background-color: #f7f7f7;
	margin : 0 auto;
	
}

#user {
	float : left;
	background-color: white;
	width:1050px;
	margin: 0 260px ;
	height: 100%;
}