@charset "UTF-8";

.container {
	margin:0 auto;
}

.container_inner{
	margin-top: 50px;
}

h5{
	display: none;
}

h4{
	display: none;

}
#bb2{
	display: none;
	
}

.bb2{
	display: none;
	
}

.btnR{
	margin-top:50px;
	margin-bottom: 70px;
}

.btnW{
	margin-top:50px;
	margin-bottom: 70px;
}