@charset "UTF-8";

@charset "UTF-8";

.page_article {
	width:1050px;
	height: 100%;
	margin:0 auto;
}


.btn{
	float: right;
}


ul.list{
 list-style-type: none;
	}



.goodsList{
	width: 1050px;
	height: 100%;

}

.goodsList .list_goodss {
    overflow: hidden;
    padding: 0 20px;
}

.list_goodss ul .list_li{
	width:249px;
	float:left;
	margin-top:15px;
	margin-bottom:15px;
	list-style-type: none;
}

.goodsList .list_goodss .list .list_li{
	float: left;
    width: 320px;
    padding: 28px 22px 0 22px;
}


.goodsList .list_goodss .list .list_li img{
	width: 290px;
	height: 395px;
}


.goodsList  .list_goodss .list {
    overflow: hidden;
    width: 1008px;
	height: 100%;
   
}

.goodsList .list_goodss .inner_listgoods {
    overflow: hidden;
    width: 990px;
}



.goodsList .list_goodss .name {
    display: block;
    overflow: hidden;
    max-height: 58px;
    font-weight: 700;
    font-size: 20px;
    color: #333;
    line-height: 29px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    
}

.goodsList .list_goodss .cost  {
    font-weight: 700;
    color: #5f0080;
}

.thumb_goods{
	color:black;
	color: inherit;
	text-decoration: none;
}

.page1{
	padding-top: 100px;
}
