<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.mk.member.MemberDAO">
  
	<insert id="memberJoin" parameterType="MemberVO" >
		insert into member VALUES (M_NUM_SEQ.nextval,#{id},#{pw},#{name},#{birth},#{address},#{phone},#{email},#{sex},CART_NUM_SEQ.nextval)
	</insert> 
  
  	<select id="memberLogin" parameterType="MemberVO" resultType="MemberVO">
		SELECT * FROM MEMBER WHERE id=#{id} and pw=#{pw}
	</select>
  
  	<delete id="memberDelete" parameterType="MemberVO">
		delete member where id=#{id}
	</delete>
	
	<select id="checkId" parameterType="MemberVO" resultType="MemberVO">
		SELECT id FROM MEMBER WHERE id=#{id}
	</select>
	
	<select id="checkEmail" parameterType="MemberVO" resultType="MemberVO">
		SELECT email FROM MEMBER WHERE email=#{email}
	</select>
  
  </mapper>