<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.iu.mk.product.ProductDAO">
  
  
  <resultMap type="ProductVO" id="listResult">
  	<id column="p_num" property="p_num"/>
  	<result column="p_name" property="p_name"/>
  	<result column="price" property="price"/>
  	<result column="p_kind" property="p_kind"/>
	<result column="contents" property="contents"/>
	
	<collection property="productFileVOs" javaType="List" ofType="ProductFileVO">
		<id column="filenum" property="filenum"/>
  		<result column="p_num" property="p_num"/>
  		<result column="oriname" property="oriname"/> 
  		<result column="filename" property="filename"/> 
  		<result column="p_kind" property="p_kind"/> 
	</collection>
  </resultMap>
   
 
  	<select id="productList" parameterType="Pager" resultMap="listResult" >
  		select PP.* ,PF.filenum,PF.oriname,PF.filename from(
			(select p.*, rownum from
				(select * from product where 
  			<choose>
					<when test="kind =='me'">
						meat
					</when>
					<when test="kind == 've'">
						vegetable					
					</when>
				 	<otherwise>
				 		dessert
				 	</otherwise>
				</choose>
				<include refid="search"></include> and p_num>=1 order by p_num desc) P)
			where R between #{startRow} and #{lastRow})PP)
			inner join  productfile PF
			on(PP.p_num=PF.p_num)
			

			
  	</select>
  	
  	<select id="productNum" resultType="Long">
  		select p_num_seq.nextval from dual
  	</select>
  	
  	<insert id="productWrite" parameterType="ProductVO">
  		insert into product values(#{num},#{p_name},#{price},#{p_kind},#{contents})
  	</insert>
  	
  	
  	
  	
  	
  	
  	
  <!-- 	 전체 글의 갯수 가져오기 
  	<select id="productCount" parameterType="Pager" resultType="Long">
  		select count(p_num) from product
  		<where>
  		<if test="kind== 'me'">
 				meat <include refid="search"></include>
 			</if>
 			<if test="kind=='ve'">
 				vegetable <include refid="search"></include>
 			</if> 
 			<if test="kind=='de'">
 				dessert <include refid="search"></include>
 			</if>
  		
  		
  		</where> 
  	
  	</select>-->
  
  
  
  
  	
  	
  	
	
  
  </mapper>
