<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.iu.mk.product.ProductDAO">
  
  
  <resultMap type="ProductVO" id="listResult">
  	<id column="p_num" property="p_num"/>
  	<result column="p_name" property="p_name"/>
  	<result column="price" property="price"/>
  	<result column="contents" property="contents"/>
  	<result column="kind" property="kind"/>

	
	<collection property="productFileVOs" javaType="List" ofType="ProductFileVO">
		<id column="fileNum" property="fileNum"/>
  		<result column="p_num" property="p_num"/>
  		<result column="oriName" property="oriName"/> 
  		<result column="fileName" property="fileName"/> 
  		<result column="kind" property="kind"/> 
	</collection>
  </resultMap>
   
   <sql id="search">
 		like '%'||#{search} ||'%'
 	</sql>
 
  	<select id="productList" parameterType="Pager" resultMap="listResult" >
  		SELECT PP.* ,PF.fileNum , PF.oriName, PF.fileName from
  		(select * from
			(select P.*, rownum R from
				(select * from product where
				<if test="kind!=null">
					kind=#{kind} and  p_name
					<include refid="search"></include> and
				</if>
				 p_num>=10001) P)
			where R between #{startRow} and #{lastRow}) PP
			inner join productFile PF
            on(PP.p_num=PF.p_num)
            order by PP.p_num desc
            
  	</select>
  	
  	<select id="productNum" resultType="Long">
  		select p_num_seq.nextval from dual
  	</select>
  	
  	<insert id="productWrite" parameterType="ProductVO">
  		insert into product values(#{p_num},#{p_name},#{price},#{contents},#{kind})
  	</insert>
  	
 <!-- 	<update id="productUpdate" parameterType="ProductVO">
 	 	update product set kind=#{kind} where p_num={p_num}
 	</update> -->
 	
<!--  전체 글의 갯수 가져오기   --> 	
  	<select id="productCount" parameterType="Pager" resultType="Long">
  		select count(p_num) 
  			from product
  		<if test="kind!=null"> 
  		    where kind=#{kind} and  p_name
  		<include refid="search"></include>  
 		</if>
  		
  	</select>
  
  
  
  
	<select id="productSelect" parameterType="Long" resultMap="listResult">
		select P.*, F.*
		from product P left Join productFile F
		on (P.p_num = F.p_num)
		where P.p_num=#{p_num}
	</select>
  	
  	
  	
	
  
  </mapper>
