<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.iu.mk.product.ProductDAO">
  
  
  <resultMap type="ProductVO" id="listResult">
  	<id column="p_num" property="p_num"/>
  	<result column="p_name" property="p_name"/>
  	<result column="price" property="price"/>
  	<result column="contents" property="contents"/>
  	<result column="kind" property="kind"/>
  	<result column="bar" property="bar"/>

	
	<collection property="productFileVOs" javaType="List" ofType="ProductFileVO">
		<id column="fileNum" property="fileNum"/>
  		<result column="p_num" property="p_num"/>
  		<result column="oriName" property="oriName"/> 
  		<result column="fileName" property="fileName"/> 
  		<result column="kind" property="kind"/> 
	</collection>
  </resultMap>
  
  
  
  <resultMap type="ReviewVO" id="selReview">
  	<id column="review_num" property="review_num"/>
  	<result column="p_num" property="p_num"/>
  	<result column="p_name" property="p_name"/>
  	<result column="title" property="title"/>
  	<result column="contents" property="contents"/>
  	<result column="rDate" property="rDate"/>
  	<result column="hit" property="hit"/>
  	<result column="ref" property="ref"/>
  	<result column="step" property="step"/>
  	<result column="depth" property="depth"/>
  	
  	
  	<result column="fileName" property="fileName"/>

  </resultMap>
  
  
  
  
  
  
   
   <sql id="search">
 		like '%'||#{pager.search} ||'%'
 	</sql>
 
  	<select id="productList" parameterType="java.util.Map" resultMap="listResult" >
  		SELECT PP.* ,PF.fileNum , PF.oriName, PF.fileName from
  		(select * from
			(select P.*, rownum R from
				(select * from product where
				<if test="pager.kind != ''">
					kind=#{pager.kind} and  p_name
					<include refid="search"></include> and
				</if>
				
				<if test="pager.kind == ''">
					p_name <include refid="search"></include> and
				</if>
				
				
				<if test="tbar != ''">
					bar=#{tbar} and
				</if>
				
			

				 p_num>=10001 order by p_num desc) P)
			where R between #{pager.startRow} and #{pager.lastRow}) PP
			left join productFile PF
            on(PP.p_num=PF.p_num)
            order by PP.p_num desc
            
  	</select>
  	
  	<insert id="productWrite" parameterType="ProductVO">
  		insert into product values(#{p_num},#{p_name},#{price},#{contents},#{kind},#{bar})
  	</insert>
  	
  	<delete id="productDelete" parameterType="Long">
  		delete product where p_num=#{p_num}
  	</delete>
  	
 	<update id="productUpdate" parameterType="ProductVO">
 	 	update product set p_name=#{p_name},price=#{price}, contents=#{contents},kind=#{kind},bar=#{bar} where p_num=#{p_num}
 	</update>
 	
<!--  전체 글의 갯수 가져오기   --> 	
  	<select id="productCount" parameterType="Pager" resultType="Long">
  		select count(p_num) 
  			from product
  		<if test="kind != ''"> 
  		    where kind=#{kind} and  p_name
  		<include refid="search"></include>  
 		</if>
 <!-- p_num 받아오기 --> 		
  	</select>
  	
  	  <select id="productNum" resultType="Long">
  		select p_num_seq.nextval from dual
  	</select>
  
  
  
  
	<select id="productSelect" parameterType="Long" resultMap="listResult">
		select P.*, F.*
		from product P left Join productFile F
		on (P.p_num = F.p_num)
		where P.p_num=#{p_num}
	</select>
  	
  	
  	<!-- review 가져오기 -->
  	<select id="selectReview" parameterType="Long" resultMap="selReview">
  		select  B.*  from
		(select R.review_num,  R.p_num, R.p_name, R.title, R.contents, R.id, R.rDate, RF.fileName from
		review R left join reviewFile RF
		on R.review_num = RF.review_num) B 
		where B.p_num=#{p_num}
		order by review_num desc
  	</select>
	
  
  </mapper>
