<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" type="text/css" href="./css/layout.css">
		<link rel="stylesheet" type="text/css" href="./css/login.css">
	</head>
	<body>
		<header>
			<div class="userMenu">
				<ul class="listMenu">
					<li><a href="./join.html">회원가입</a></li>
					<li><a href="./login.html">로그인</a></li>
					<li><a href="./board.html">고객센터</a></li>
					<li><a href="#">배송지역 검색</a></li>
				</ul>
			</div>
			<div class="headerLogo">
				<a href="./index.html"><img alt="" src="./images/logo.png"></a>
			</div>
			<div class="gnb">
				<ul>
					<li class="menu1"><a href="#">전체 카테고리</a></li>
					<li><a href="#">신상품</a></li>
					<li><a href="#">베스트</a></li>
					<li><a href="#">알뜰쇼핑</a></li>
					<li><a href="#">이벤트</a></li>
				</ul>
				<div class="side_search">
					<form class="">
						<input type="text" id="search" class="sc" value="데일리장보기">
						<input type="image" id="searchIcon" class="sicon" src="./images/ico_search.png">
					</form>
				</div>
				<div class="cart_count">
					<a href="#"><img alt="" src="./images/ico_cart.png"></a>
				</div>
			</div>
		</header>
		<section class="login">
			<div class="section_login">
				<h3 class="tit_login">로그인</h3>
				<div class="write_form">
					<form action="" method="post" enctype="application/x-www-form-urlencoded">
						<input type="text" name="id" placeholder="아이디를 입력하세요">
						<input type="password" name="pw" placeholder="비밀번호를 입력하세요">
						<div class="checkbox_save">
							<label><input type="checkbox" class="check">보안접속</label>
							<div class="login_search">
								<a href="#" class="id">아이디 찾기</a>
								<span class="bar"></span>
								<a href="#" class="pw">비밀번호 찾기</a>
							</div>
						</div>
						<button type="submit"><span>로그인</span></button>
					</form>
					<a href="#"><span>회원가입</span></a>
				</div>
			</div>
		</section>
		<footer>
			<div class="inner_footer">
				<div class="footer_cc">
					<h2>고객행복센터</h2>
					<div class="cc_view cc_call">
						<h3>
							<span>1644-1107</span>
						</h3>
						<dl>
							<dt>365 고객센터</dt>
							<dt>오전 7시 - 오후 7시</dt>
						</dl>
					</div>
					<div class="cc_view cc_kakao">
						<h3>
							<a href="#">카카오톡 문의</a>
						</h3>
						<dl>
							<dt>365 고객센터</dt>
							<dt>오전 7시 - 오후 7시</dt>
						</dl>
					</div>
					<div class="cc_view cc_qna">
						<h3>
							<a href="#">1:1 문의</a>
						</h3>
						<dl>
							<dt>24시간 접수 가능</dt>
							<dt>고객센터 운영시간에 순차적으로 답변해드리겠습니다.</dt>
						</dl>
					</div>
				</div>
				
				
				<div class="company">
					<ul class="list">
						<li><a href="#">컬리소개</a></li>
						<li><a href="#">컬리소개영상</a></li>
						<li><a href="#">인재채용</a></li>
						<li><a href="#">이용약관</a></li>
						<li><a href="#">개인정보처리방침</a></li>
						<li><a href="#">이용안내</a></li>
					</ul>
					법인명 (상호) : 주식회사 컬리 
					<span class="bar">I</span> 사업자등록번호 : 261-81-23567 
					<a href="#" class="link">사업자정보 확인</a><br>
					통신판매업 : 제 2018-서울강남-01646 호 
					<span class="bar">I</span> 개인정보보호책임자 : 이지훈<br>
					주소 : 서울시 도산대로 16길 20, 이래빌딩 B1 ~ 4F 
					<span class="bar">I</span> 대표이사 : 김슬아<br>
					입점문의 : 
					<a href="#" class="link">입점문의하기</a>
					<span class="bar">I</span> 제휴문의 : 
					<a href="#" class="link">business@kurlycorp.com</a><br>
					채용문의 : 
					<a href="#" class="link">recruit@kurlycorp.com</a><br>
					팩스: 070 - 7500 - 6098 
					<span class="bar">I</span> 이메일 : 
					<a href="#" class="link">help@kurlycorp.com</a>
					<em>© KURLY CORP. ALL RIGHTS RESERVED</em>
					<ul class="list_sns">
						<li>
							<a href="#"><img src="./images/ico_instagram.jpg" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="./images/ico_fb.jpg" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="./images/ico_blog.jpg" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="./images/ico_naverpost.jpg" alt=""></a>
						</li>
						<li>
							<a href="#"><img src="./images/ico_youtube.jpg" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
		</footer>
	</body>
</html>